<!DOCTYPE html>
<html id="redirect">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Sat, 01 Jan 2000 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="###BASE_PATH###/Resources/Public/style.css" nonce="###NONCE###">
</head>
<body>
Redirecting...
<script src="###BASE_PATH###/Resources/Public/script.js" id="script" data-check="###DATA_ATTR_URL###" nonce="###NONCE###"></script>
<noscript>
    <p>PLEASE ENABLE JAVASCRIPT</p>
</noscript>
</body>
</html>